KXIAN_MODE=paper
KXIAN_EXCHANGE=binance
KXIAN_MARKET_DATA_SOURCE=exchange
KXIAN_DB_PATH=data/kxian.sqlite3
KXIAN_SYMBOL=BTCUSDT
KXIAN_INTERVAL=1m
KXIAN_POLL_SECONDS=30
KXIAN_LOOP_LOCK_STALE_SECONDS=120
KXIAN_STARTING_USDT=1000
KXIAN_FEE_RATE=0.001
KXIAN_SLIPPAGE_RATE=0.0005
KXIAN_RISK_PER_TRADE=0.1
KXIAN_MAX_POSITION_USDT=300
KXIAN_MIN_ORDER_USDT=10
KXIAN_PRICE_STEP=0.01
KXIAN_QUANTITY_STEP=0.00001
KXIAN_MIN_EXCHANGE_QUANTITY=0
KXIAN_MIN_EXCHANGE_NOTIONAL=10
KXIAN_MAX_DAILY_TRADES=20
KXIAN_MAX_DAILY_LOSS_USDT=100
KXIAN_COOLDOWN_SECONDS=0
KXIAN_ALLOW_SELL_WITHOUT_POSITION=false
KXIAN_STOP_LOSS_PCT=0
KXIAN_TAKE_PROFIT_PCT=0
KXIAN_TRAILING_STOP_PCT=0
KXIAN_SHORT_WINDOW=5
KXIAN_LONG_WINDOW=20
KXIAN_ALLOW_LIVE=false
KXIAN_LIVE_DRY_RUN=true
KXIAN_USE_TESTNET=true
KXIAN_ENABLE_TESTNET_AUTOTRADE=false
KXIAN_ENABLE_LIVE_AUTOTRADE=false
KXIAN_LIVE_CONFIRMATION=
KXIAN_LIVE_CREDENTIALS_CONFIRMED=false
KXIAN_MAX_LIVE_ORDER_USDT=50
KXIAN_REQUIRE_STRATEGY_GATE=true
KXIAN_MIN_GATE_TRADES=30
KXIAN_MIN_GATE_RETURN_PCT=0
KXIAN_MAX_GATE_DRAWDOWN_PCT=20
KXIAN_MIN_GATE_PROFIT_FACTOR=1
KXIAN_REQUIRE_STRESS_GATE=true
KXIAN_MIN_STRESS_PASS_RATE=100
KXIAN_MAX_STRESS_DRAWDOWN_PCT=25
KXIAN_REQUIRE_WALK_FORWARD_GATE=true
KXIAN_MIN_WALK_FORWARD_SEGMENTS=3
KXIAN_MIN_WALK_FORWARD_PASS_RATE=60
KXIAN_MIN_WALK_FORWARD_TRADES=30
KXIAN_BINANCE_API_KEY=your_key
KXIAN_BINANCE_API_SECRET=your_secret
KXIAN_OKX_API_KEY=your_key
KXIAN_OKX_API_SECRET=your_secret
KXIAN_OKX_API_PASSPHRASE=your_passphrase
KXIAN_BITGET_API_KEY=your_key
KXIAN_BITGET_API_SECRET=your_secret
KXIAN_BITGET_API_PASSPHRASE=your_passphrase
